
<form [formGroup]="identForm">

  <label for="secretKey">Secret Key: </label>
  <input id="secretKey" type="text" formControlName="secretKey">

</form>

<button (click)="load()">OK</button>
<button (click)="load2()">OK2</button>

<div *ngIf="dashboard?.listJournees">
  <div *ngFor="let journee of dashboard.listJournees">
    <p>{{journee.date}}</p>
    <p>{{journee.statut}}</p>
    <p>{{journee.message}}</p>
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
